{
  "account_access_key": "",
  "controller_host": "",
  "required_packages": [
    "openjdk-8-jdk",
    "python3-lxml",
    "mysql-server",
    "unzip"
  ],
  "tomcat_systemd_service_name": "tomcat",
  "tomcat_source": "https://downloads.apache.org/tomcat/tomcat-9/v9.0.34/bin",
  "tomcat_archive": "apache-tomcat-9.0.34",
  "tomcat_directory": "/opt/tomcat",
  "war_file_local_source": "",
  "mysql_jdbc_local_source": "",
  "controller_port": "",
  "tier_name": "",
  "node_name": "",
  "account_name": "",
  "java_agent_source": "",
  "java_agent_installer_archive": "",
  "java_agent_directory": "",
  "java_agent_version_directory": "",
  "machine_agent_source": "",
  "machine_agent_installer_archive": "",
  "machine_agent_directory": "/opt/appdynamics/machine-agent",
  "machine_agent_systemd_service_name": "appd-machine-agent",
  "netviz_agent_source": "",
  "netviz_agent_installer_archive": "",
  "netviz_agent_directory": "/opt/appdynamics/networkvisibility",
  "netviz_agent_systemd_service_name": "appd-netviz-agent",
  "mysql_root_password": "",
  "application_name": "instrumentable-tomcat",
  "appdynamics_dir": "/opt/appdynamics"
}
